img{
    width: 200px;
    height: 200px;
}
#face{
    width: 70px;
    height: 70px;
}
#msg{
    color: limegreen;
    font-weight: bold;
}
.App{
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0px 20px;
}
button{
    padding: 10px;
    border-radius: 15px;
    margin: 20px;
    width: 200px;
    background-color: black;
    color: white;
    font-weight: bold;
}